{include file="../application/index/view/Public/_meta.html"/}
<link rel="stylesheet" href="__LIB__/DataTables-1.10.21/media/buttons/buttons.dataTables.min.css"/>

<link href="__LIB__/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >

</head>
<body>
<div class="page-container">
	<div class="mt-20">
		<table id="table_id_example" class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th>身份证号码</th>
					<th>差异类型</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>

{include file="../application/index/view/Public/_footer.html"/}  
<script type="text/javascript" src="__LIB__/DataTables-1.10.21/media/js/jquery.dataTables.min.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__LIB__/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $("#table_id_example").dataTable({
      "lengthMenu": [
          [20,40,80,100,-1],    // 具体的数量
          [20,40,80,100,"全部"] // 文字描述
      ],
      "paging": true,    // 是否开启分页功能(默认开启)
      'info': true,      // 是否显示分页的统计信息(默认开启)
      "searching":true,  // 是否开启搜索功能(默认开启)
      "ordering": true,  // 是否开启排序功能(默认开启)
      "order":[ [1,'asc'] ], // 设置默认排序的表格列[参数1是表格列的下标，从0开始]
      "stateSave": true,      // 是否保存当前datatables的状态(刷新后当前保持状态)
      "processing": true,     // 显示处理中的字样[数量多的时候提示用户在处理中](默认开启)
      "serverSide": true,    // 是否开启服务器模式
                              // false时，会一次性查询所有的数据，dataTables帮我们完成分页等。
                              // true时，点击分页页码就会每次都到后台提取数据。
      
      "language": //把文字变为中文
          {  
            "sProcessing": "加载中...",  
            "sLengthMenu": "显示 _MENU_ 项结果",  
            "sZeroRecords": "没有匹配结果",  
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",  
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",  
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",  
            "sInfoPostFix": "",  
            "sSearch": "搜索:",  
            "sUrl": "",  
            "sEmptyTable": "表中数据为空",  
            "sLoadingRecords": "载入中...",  
            "sInfoThousands": ",",  
            "oPaginate": {  
                "sFirst": "首页",  
                "sPrevious": "上页",  
                "sNext": "下页",  
                "sLast": "末页"  
            },  
            "oAria": {  
                "sSortAscending": ": 以升序排列此列",  
                "sSortDescending": ": 以降序排列此列"  
            }  
          },
      // 使用ajax到后台服务获取数据
      "ajax": {               
      "url": "{:url('Syj/check_difference_jbw_show')}", //请求数据的后台地址
      "type": "POST",     // ajax的请求方法
          
      },
      //需要接收返回的数据
      //总的数量与表格的列数必须一致，不能多也不能少，一个变量代表一个td
      //如果data接收服务器没有返回该字段信息，那么该字段一定要同时设置defaultContent属性
      //例{'data':'a',"defaultContent":""},
      "columns": [
        {"data": "pid"},
        {"data": "instructions"},
        {"data": "",
        render : function (data, type, row, meta){
            return "<a title='编辑' href='javascript:;' onclick=check_jbw_difference_info('详情','check_jbw_difference_info?pid="+row.pid+"') style='text-decoration:none'><input class='btn btn-primary radius' type='button' value='处理'></a>";
        }},
      ],
    });
  });



//差异数据详情
function check_jbw_difference_info(title,url){
	var mobile_flag = isMobile();
	if(mobile_flag){
		width=document.body.clientWidth+"px";
		layer_show(title,url,width);
	}else{
		layer_show(title,url);
	}
}

function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    //根据userAgent判断是否是手机
    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }
     var screen_width = window.screen.width;
     var screen_height = window.screen.height;   

     //根据屏幕分辨率判断是否是手机
     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }

     return mobile_flag;
}


</script>
</body>
</html>