{include file="../application/index/view/Public/_meta.html"/}
<link href="__LIB__/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
<title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
	<dl style="margin-left:5%; color:#fff">
		<dt>
			<span class="f-18">{$announcement_info.title}</span>
			<span class="pl-10 f-12">{$announcement_info.publish_time}</span>
		</dt>
	</dl>
</div>
<div class="pd-20">


	<table class="table table-border table-bg table-bordered">
	  <thead>
	    <tr><th width="20%">内容</th><th style="font-weight:normal">{$announcement_info.content}</th></tr>
	    {if condition="$announcement_info['enclosure'] != '' AND $announcement_info['enclosure'] != []"}
	    	{volist name="$announcement_info.enclosure" id="vo1"}
	    	<tr><th width="20%">附件</th><th><a style="color: blue;" href="__LIB__/webuploader/0.1.5/server/upload/{$vo1}" download="">{$vo1}</a></th></tr>
			{/volist}
		{/if}
		<!-- 判断是否有处理报错的权限 -->
		{in name="4" value="$authority_list_2"}
			{if condition="$announcement_info['target_id'] != ''"}
				<tr>
					<th width="20%">目标  </th>
					<th>
						<input class="btn btn-primary radius" type="button" id="check_report_info" data="{$announcement_info.target_id}" value="查看"> 
						<span style="color: red;"> (可在此处跳转后直接处理此报错)</span>
					</th>
				</tr>
			{/if}
		{/in}
	  </thead>
	 
	</table>

</div>
{include file="../application/index/view/Public/_footer.html"/}
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__LIB__/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__LIB__/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript">
	//查看报错
	$("#check_report_info").click(function () {
		var id = $(this).attr('data');
		var mobile_flag = isMobile();
		if(mobile_flag){
        width=document.body.clientWidth+"px";
	        layer_show('报错详情','report_show.html?id='+id,width);
	    }else{
	        layer_show('报错详情','report_show.html?id='+id);
	    }
	});

	function isMobile() {
	    var userAgentInfo = navigator.userAgent;

	    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

	    var mobile_flag = false;

	    //根据userAgent判断是否是手机
	    for (var v = 0; v < mobileAgents.length; v++) {
	        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
	            mobile_flag = true;
	            break;
	        }
	    }
		var screen_width = window.screen.width;
		var screen_height = window.screen.height;
		//根据屏幕分辨率判断是否是手机
		if(screen_width < 500 && screen_height < 800){
		 mobile_flag = true;
		}
		return mobile_flag;
	}
</script>